/* VARIABLES */

$text-color :#837D88;
$title-color : #2C2830;
$white : #FFFFFF;

@mixin destkop-first($max) {
  @media only screen and (max-width:$max) {
    @content;
  }
}

@mixin btn {
  display: inline-block;
  padding: 13px 28px;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  color: $title-color;
  border: 1.5px solid $title-color;
  transition: all 0.3s ease;
  
  &:hover{
    background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
  }
}


/* GENERAL */

@font-face {
  font-family: "DM Serif Display";
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Karla';
  font-weight: 400;
  src: local(''),
  url('../fonts/karla-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/karla-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-weight: 700;
  src: local(''),
  url('../fonts/karla-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/karla-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



*{
  box-sizing: border-box;
}

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Karla';
  font-weight: 700;
  
}

ul,
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  width: 100%;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}


.site-header{
  padding: 31px 0;
}

.site-header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav{
  display: flex;
}

.nav__list{
  display: flex;
  align-items: center;
}

.nav__item{
  
  margin-right: 33px;
  &:not(:last-child){
    margin-right: 26px;
  }
  
}

.nav__link{
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  color: $text-color;
}

.btn{
  @include btn;
}

.open{
  display: none;
  width: 32px;
  height: 32px;
  background-image: url("../images/open.svg");
  border: none;
  background-color: transparent;
}

.hero{
  padding-top: 130px;
  background-color: #2D2641;
  background-image: url("../images/first-lines.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 590px) calc(50% - 200px);
  
}

.hero__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__box{
  max-width: 540px;
}

.hero__title{
  margin-bottom: 16px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
  
  &::before{
    display: block;
    margin-bottom: 63px;
    width: 150px;
    height: 1px;
    background: #FFFFFF;
    content: "";
  }
}

.hero__text{
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.hero__mobile{
  display: none;
}
.hero__link{
  @include btn;
  color: #FFFFFF;
  border-color: $white;
}

.hero__img{
  position: relative;
  top: 100px;
}

.different{
  position: relative;
  padding: 305px 0 150px 0;

  &::before{
    position: absolute;
    top: -99px;
    left: -386px;
    width: 697px;
    height: 512px;
    background-image: url("../images/first-lines.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
}

.different__title{
  margin-bottom: 96px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: $title-color;
  
  &::before{
    display: block;
    margin-bottom: 63px;
    width: 150px;
    height: 1px;
    background-color: #C396C6;
    content: "";
  }
}

.different__list{
  display: flex;
  
}

.different__item{
  max-width: 350px;
  
  &:not(:last-child){
    margin-right: 30px;
  }
  
  &::before{
    display: block;
    margin-bottom: 32px;
    width: 86px;
    height: 86px;
    background-image: url("../images/process.svg");
    content: "";
  }
  
  &:nth-child(2)::before{
    background-image: url("../images/price.svg");
  }
  
  &:nth-child(3)::before{
    background-image: url("../images/person.svg");
  }
  
}

.different__heading{
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
  color: $title-color;
  
}
.different__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $text-color;
}

.work{
  padding-bottom: 150px;
}

.work__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 80px;
  background-image: url("../images/work-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work__title{
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #FFFFFF;
  max-width: 475px;
}

.work__link{
  @include btn();
  color: #fff;
  border-color:#fff ;
  &:hover{
    color: $title-color;
  }
}

.site-footer{
  background-color: #FAFAFA;
  background-image: url("../images/footer.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -474px) calc(50% - 273px);
}

.footer-box{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #979797 ;
}

.site-footer__list{
  display: flex;
}

.site-footer__item{
  
  &:not(:last-child){
    margin-right: 16px;
  }
}

.site-footer__link{
  color: $text-color;
  transition: all 0.3s ease-in-out;
  
  &:hover{
    color: $title-color;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
.footer-bottom__title{
  margin-bottom: 36px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.footer-bottom__item{
  &:not(:last-child){
    margin-bottom: 16px;
  }
}

.footer-bottom__link{
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: $title-color;
}

@include destkop-first(400px){
  .hero__box{
    padding: 0;
  }
  .hero__title{
    font-size: 55px;
  }
}
@include destkop-first(768px){
  .different__title{
    text-align: center;
    &::before{
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  
  .different__list{
    flex-direction: column;
    align-items: center;
  }
  
  .different__item{
    text-align: center;
    &::before{
      margin: 0 auto;
    }
    
    &:not(:last-child){
      margin-right: 0;
      margin-bottom: 56px;
    }
  }
  
  .footer-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-bottom__title{
    text-align: center;
  }
  .footer-bottom__item{
    text-align: center;
    margin-bottom: 40px;
  }
  
}

@include destkop-first(576px){

  .site-footer{
    background-position: calc(50% - 20px) calc(50% - 697px);
  }
  .footer-box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo{
    margin-bottom: 32px;
  }

  .footer-bottom{
    display: grid;
    grid-template-columns: 1fr;
  }
}


@include destkop-first(610px){
  .hero{
    background-position: calc(50% + -346px) calc(50% + -65px);
  }
}


@include destkop-first(650px){
  .open{
    display: block;
  }
  .site-header{
    position: relative;
  }
  .nav{
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    height: 100vh;
    display: none;
    padding-top:40px;
    flex-direction: column;
    background-color: #2C2830;
    background-image: url("../images/first-lines.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 170px) calc(50% + 455px);
    background-size: cover;
    animation: menu 1.6s ease-in-out ;
  }
  
  @keyframes menu {
    from{
      transform: translateY(1000px);
    }
    to{
      transform: translateY(0);
    }
  }
  
  .nav__list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav__item{
    margin: 0;
    &:not(:last-child){
      margin: 0;
    }
    &:last-child{
      margin-bottom: 55px !important;
    }
    margin-bottom: 33px !important;
  }
  
  .nav__link{
    color: $white;
    font-size: 20px;
  }
  
  .nav__box{
    text-align: center;
  }
  
  .btn{
    margin: 0 auto;
    color: $white;
    border: 1.5px solid #FFFFFF;
  }
  
  .header-active .nav{
    display: block;
  }
  
  .header-active .open{
    background-image: url("../images/close.svg");
  }
}



@include destkop-first(850px){
  .work__box{
    background-image: url("../images/mobile-work.svg");
    flex-direction: column;
    text-align: center;
    padding: 30px 80px;
    background-position: center left;
  }
  .work__title{
    margin-top: 0;
    font-size: 40px;
  }
}

@include destkop-first(1074px){
  .hero .container{
    padding: 0;
  }
  .hero{
    padding: 0;
    padding-bottom: 100px;
    background-position: calc(50%  - 410px) calc(50% + 180px);
  }
  .hero__wrapper{
    flex-direction: column-reverse;
  }
  
  .hero__box{
    padding: 0 20px;
    text-align: center;
  }
  
  .hero__img{
    position: static;
    width: 100%;
  }
  
  .hero__title{
    
    &::before{
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  
}




